img {
    width: 100px;
}

img:hover {
    outline: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body>* {
    max-width: 80%;
}

#emoji-grid {
    display: flex;
    flex-wrap: wrap;
}

input {
    font-size: xx-large;
}